@charset "UTF-8";

.ment{
    line-height: 2px;
}

.main-nav ul {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.main-nav li {
    width: 6.25rem;
    height: 6.25rem;
    line-height: 6.25rem;
    vertical-align: middle;
}

.main-nav a{
    color: white;
}

img{
    width: 600px;
    height: 400px;
}